<h1><%= @line_review_presenter.poem_name %></h1>
<h2><%= @line_review_presenter.canto_name %></h2>
<h3><%= @line_review_presenter.stanza_number %></h3>
<% @line_review_presenter.words.each do |word| %>
<%=  element_for(word) %>
<% end %>
