<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= @user.name %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      Email: <%= @user.email %>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item disabled" >Edit</a>
    <%= link_to('Delete User', user_path(@user), method: :delete, data: { confirm: 'Are you sure?'}, class: 'card-footer-item' ) %>
  </footer>
</div>
